.tabbarWrap{
	height: 40px;
	background: pink;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #fefefe;
}
.tabbar-cont{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.tabbar-item{
	flex:1;
	cursor: pointer;
}

a{
	color: #000;
}
a:hover,a:active,a:link,a:visited{
	text-decoration: none;
}
.tabbar-active{
	color: #fff;
}

.todo-list{
	text-align: center;
	margin: 30px;
}
.todo-control{
	width: 400px;
}
.new-todo{
	width: 100%;
	height: 30px;
}
.todos{
	margin: 0px;
	padding: 0px;
	width: 400px;
	list-style: none;
}
.todo-item{
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
.todo-item p{
	flex: 1;
	text-align: left;
	padding: 0 20px
}
.complete{
	text-decoration: line-through;
	color: red;
}