.a-content{
  height: 500px;
  width: 300px;
  border: 2px solid pink;
  margin-right: 30px;
  float: left;
}
.header{
  height: 40px;
  padding: 0 20px;
  background:  pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
}